<div class="container mt-5">
  <div class="card shadow-lg rounded-4 overflow-hidden">
    <!-- Encabezado -->
    <div class="d-flex flex-wrap align-items-center bg-primary text-white p-3">
      <!-- Botón de Home -->
      <button 
        (click)="regresar()" 
        class="btn btn-outline-light me-3 d-flex align-items-center mb-2 mb-md-0">
        <i class="bi bi-house-door-fill me-2"></i> Home
      </button>
      <button 
      (click)="estanteria()" 
      class="btn btn-outline-light me-3 d-flex align-items-center mb-2 mb-md-0">
      <i class="bi bi-columns-gap me-2"></i> Estantería
    </button>
      <!-- Título -->
      <h1 class="text-center flex-grow-1 m-0 text-truncate fs-5 fs-sm-4">
        Productos en Mal Estado
      </h1>
    </div>

    <!-- Contenido -->
    <div class="card-body">
      <!-- Buscador -->
      <div class="input-group mb-4">
        <span class="input-group-text bg-primary text-white">
          <i class="bi bi-search"></i>
        </span>
        <input
          type="text"
          class="form-control fs-6"
          placeholder="Buscar..."
          (input)="filtrarProductos($event)"
        />
      </div>

      <!-- Tabla -->
      <div class="table-responsive">
        <table class="table table-hover">
          <thead class="table-primary">
            <tr>
              <th class="text-center col-3 col-sm-2 col-md-1 letraPequeña letraMuyPequeña " >Código</th>
              <th class="text-center col-3 col-sm-2 col-md-1 letraPequeña letraMuyPequeña">Cantidad</th>
              <th class="text-center col-5 col-sm-3 col-md-2 letraPequeña letraMuyPequeña">Nombre</th>
              <th class="text-center col-6 col-sm-4 col-md-2 letraPequeña letraMuyPequeña">Descripción</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let producto of productosFiltrados">
              <td class="text-center letraPequeña letraMuyPequeña">{{ producto.codigo }}</td>
              <td class="text-center letraPequeña letraMuyPequeña">{{ producto.cantidad }}</td>
              <td class="text-center letraPequeña letraMuyPequeña ">
                {{ producto.producto }}
              </td>
              <td class="text-center text-wrap letraPequeña letraMuyPequeña" >
                {{ producto.descripcion }}
              </td>
            </tr>
            <tr *ngIf="productosFiltrados.length === 0">
              <td colspan="4" class="text-center text-muted fs-6">
                No se encontraron resultados.
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
