<div class="container mt-4">
  <button (click)="regresar()" class="btn btn-outline-primary d-flex align-items-center mb-3">
    <i class="bi bi-house-door mr-2"></i> Home
  </button>
  <div *ngFor="let estanteria of estanterias" class="mb-5">
    <div class="d-flex justify-content-between align-items-center p-0 rounded shadow-sm mb-3" style="background-color: #6c757d3d;">
      <div class="col-6 col-sm-6 col-md-3 p-1 flex-grow-0 flex-shrink-0">
        <img src="https://www.farmaciasgaleno.com.gt/Image/SPMedicos/pmdescripcion.png" alt="Imagen izquierda" class="img-fluid">
      </div>
      <!-- Aplica la clase CSS break-word aquí -->
      <h2 class="text-black text-center m-0 flex-grow-1 letraPequeña">{{ estanteria.nombreEstanteria }}</h2>
      <div class="col-2 col-sm-2 col-md-1 p-0 flex-grow-0 flex-shrink-0">
        <img src="assets/img/doc.gif" alt="Imagen derecha" class="img-fluid">
      </div>
    </div>
    <div class="mb-3 d-flex align-items-center">
      <input [(ngModel)]="busqueda" (keyup.enter)="buscar()" type="text" placeholder="Buscar palabra..." class="form-control me-2" style="height: calc(2.25rem + 2px); flex: 1;" />
      <button (click)="buscar()" class="btn btn-outline-success" style="height: calc(2.25rem + 2px);">
        <i class="bi bi-search"></i> Buscar
      </button>
    </div>
    <div class="estanteria-grid shadow-lg">
      <div *ngFor="let fila of [].constructor(estanteria.cantidadFilas); let i = index" [id]="'fila-' + estanteria.nombreEstanteria + '-' + i" class="fila">
        <div class="row g-0" style="display: flex; flex-wrap: wrap;">
          <div *ngFor="let columna of [].constructor(estanteria.cantidadColumnas || 9); let j = index"
          [ngStyle]="{ 
            backgroundColor: resaltarCelda(i, j, estanteria.nombreEstanteria) ? '#1e293b' : 'transparent', 
            color: resaltarCelda(i, j, estanteria.nombreEstanteria) ? '#ffffff' : 'inherit', 
            boxShadow: resaltarCelda(i, j, estanteria.nombreEstanteria) ? '0 4px 10px rgba(0, 0, 0, 0.5)' : 'none', 
            border: resaltarCelda(i, j, estanteria.nombreEstanteria) ? '2px solid #3b82f6' : '1px solid #6c757d'
          }"
          style="flex: 1 0 calc(100% / 9); padding: 0; text-align: center; border-radius: 5px; margin-bottom: 10px; position: relative;"
          [id]="'celda-' + estanteria.nombreEstanteria + '-' + i + '-' + j">
            <div *ngIf="ubicacionExistente(i, j, estanteria.nombreEstanteria)">
              <div class="d-block d-sm-none break-word" style="font-size: 35%;">{{ obtenerDatoCelda(i, j, estanteria.nombreEstanteria) }}</div>
              <div class="d-none d-sm-block d-md-none break-word" style="font-size: 35%;">{{ obtenerDatoCelda(i, j, estanteria.nombreEstanteria) }}</div>
              <div class="d-none d-md-block d-lg-none break-word" style="font-size: 45%;">{{ obtenerDatoCelda(i, j, estanteria.nombreEstanteria) }}</div>
              <div class="d-none d-lg-block d-xxl-none break-word" style="font-size: 65%;">{{ obtenerDatoCelda(i, j, estanteria.nombreEstanteria) }}</div>
              <div class="d-none d-xxl-block break-word" style="font-size: 80%;">{{ obtenerDatoCelda(i, j, estanteria.nombreEstanteria) }}</div>
            </div>
            <div *ngIf="!ubicacionExistente(i, j, estanteria.nombreEstanteria)">
              <div class="text-muted fst-italic letraMuyPequeña">Vacío</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
