<app-navbar/>   
<div class="container mt-5">
  <div class="card shadow-lg">
    <div class="d-flex align-items-center bg-primary text-white p-3">
      <!-- Botón de Home -->
      <button (click)="regresar()" class="btn btn-outline-light me-3 d-flex align-items-center">
        <i class="bi bi-house-door-fill me-2"></i> Home
      </button>
      <!-- Título -->
      <h1 class="text-center flex-grow-1 m-0">Productos en mal estado</h1>
    </div>
    <div class="card-body">
      <div class="d-flex justify-content-end">
        <button class="mb-3 btn btn-success" (click)="agregar()">
          <i class="bi bi-bag-plus-fill"></i> Agregar Estantería
        </button>
      </div>
      <div class="table-responsive">
        <table id="tabla" class="table table-bordered">
          <thead>
            <tr>
              <th>Código tabla</th>
              <th>Código producto</th>
              <th>Nombre de la estantería</th>
              <th>Filas</th>
              <th>Columnas</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let contenedor of contenedor">
              <td>{{ contenedor.id }}</td>
              <td>{{ contenedor.codigo }}</td>
              <td>{{ contenedor.producto }}</td>
              <td>{{ contenedor.cantidad }}</td>
              <td>{{ contenedor.descripcion }}</td>
              <td>
                <button class="btn btn-warning m-2" (click)="editarProducto(contenedor.id)">
                  <i class="bi bi-pencil"></i> Editar
                </button>
                <button class="btn btn-danger" (click)="eliminar(contenedor.id, contenedor.nombreMedicamento)">
                  <i class="bi bi-trash-fill"></i> Eliminar
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
