<nav class="navbar navbar-expand-lg bg-primary">
  <div class="container-fluid">
    <img src="assets/img/logo.png" alt="Logo de la empresa" class="img-fluid rounded-circle me-2" width="50" height="50">
    <span class="text-white">Administración</span>
    
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#sidebarNav">
      <span class="bi bi-list text-white"></span>
    </button>

    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto">
        <!-- Íconos con texto más pequeño para escritorio -->
        <li class="nav-item mx-2">
          <a  class="nav-link text-white d-flex align-items-center"
          href="javascript:void(0)"
          (click)="validarCrearEstanteria()">
            <i class="bi bi-boxes fs-4 me-2"></i>
            <span class="d-none d-lg-inline">Crear Estantería</span>
          </a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-white d-flex align-items-center" href="/crud-estanteria">
            <i class="bi bi-house-door fs-4 me-2"></i>
            <span class="d-none d-lg-inline">Ubicación/Laboratorios</span>
          </a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-white d-flex align-items-center" href="/lista-producto-mal-estado">
            <i class="bi bi-exclamation-circle fs-4 me-2"></i>
            <span class="d-none d-lg-inline">Producto Deteriorado</span>
          </a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-white d-flex align-items-center" href="/inventario-producto-mal-estado">
            <i class="bi bi-exclamation-circle fs-4 me-2"></i>
            <span class="d-none d-lg-inline">Inventario Productos Deteriorados</span>
          </a>
        </li>
        <li class="nav-item mx-2">
          <a class="nav-link text-white d-flex align-items-center" href="javascript:void(0)" (click)="cerrarSesion()">
            <i class="bi bi-box-arrow-right fs-4 me-2"></i>
            <span class="d-none d-lg-inline">Cerrar Sesión</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<div class="offcanvas offcanvas-start bg-white text-black" id="sidebarNav">
  <div class="offcanvas-header">
    <img src="assets/img/logo.png" alt="Logo de la empresa" class="img-fluid rounded-circle w-40" style="height: 40px;">
    <span class="ms-2">Administración</span>
    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
  </div>
  <div class="offcanvas-body d-flex flex-column bg-light">
    <ul class="navbar-nav text-dark">
      <li class="nav-item">
        <a class="nav-link d-flex justify-content-start align-items-center" href="/">
          <i class="bi bi-house-door fs-4 me-2"></i>
          <span>Inicio</span>
          <i class="bi bi-arrow-right-short ms-auto"></i> <!-- Alineamos el icono al final -->
        </a>
        <hr class="mt-0 mb-2 w-100">
      </li>
      <li class="nav-item">
        <a   class="nav-link text-black d-flex align-items-center"
        href="javascript:void(0)"
        (click)="validarCrearEstanteria()">
          <i class="bi bi-boxes fs-4 me-2"></i>
          <span>Crear Estantería</span>
          <i class="bi bi-arrow-right-short ms-auto"></i> <!-- Alineamos el icono al final -->
        </a>
        <hr class="mt-0 mb-2 w-100">
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex justify-content-start align-items-center" href="/crud-estanteria">
          <i class="bi bi-house-door fs-4 me-2"></i>
          <span>Ubicación/Laboratorios</span>
          <i class="bi bi-arrow-right-short ms-auto"></i> <!-- Alineamos el icono al final -->
        </a>
        <hr class="mt-0 mb-2 w-100">
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex justify-content-start align-items-center" href="/lista-producto-mal-estado">
          <i class="bi bi-exclamation-circle fs-4 me-2"></i>
          <span>Producto Deteriorado</span>
          <i class="bi bi-arrow-right-short ms-auto"></i> 
        </a>
        <hr class="mt-0 mb-2 w-100">
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex justify-content-start align-items-center" href="/inventario-producto-mal-estado">
          <i class="bi bi-exclamation-circle fs-4 me-2"></i>
          <span>Inventario Producto Deteriorado</span>
          <i class="bi bi-arrow-right-short ms-auto"></i> 
        </a>
        <hr class="mt-0 mb-2 w-100">
      </li>
      <li class="nav-item">
        <a class="nav-link d-flex justify-content-start align-items-center" href="javascript:void(0)" (click)="cerrarSesion()">
          <i class="bi bi-box-arrow-right fs-4 me-2"></i>
          <span>Cerrar Sesión</span>
        </a>
      </li>
    </ul>
  </div>
</div>
